body {
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	padding:0 10px;
	background-color: #d0e4fe;
}

h1 {
	color: orange;
	text-align: center;
}

aside{
	color: red;
	text-align: center;
}

p {
	font-family: "Times New Roman";
	font-size: 20px;
}